-c constraints.txt
# src/juizi.templates
src/juizi.reports
Products.PloneKeywordManager
collective.easyform[recaptcha]
collective.lineage
collective.taxonomy
eea.facetednavigation
plone.app.imagecropping
# P22 addons
# src/p22
# Not sure what these are
# search (navigation)
# Multilingual Support
# collective.portlet.tal
pandas # From juizi.reports
# requests
# mailchimp
# mailerlite
# z3c.jbot
# json_log_formatter
